#featured-section {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
  background: linear-gradient(180deg, #251B11 0%, #000000 100%);
  
}

.featured-wrapper {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 100vh;
    will-change: transform;
}

#featured-section .featured-content {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}