*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: radial-gradient(
    circle,
    #4D3821 0%,
    #3B2B1A 24%,
    #281E12 52%,
    #261C11 80%
  );
  overflow-x: hidden;
}


::-webkit-scrollbar{
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: #a1a1a1;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #919191;
}